<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="bg-gray-100 font-sans">
<div th:replace="~{fragments :: menu}"></div>
<div class="container mx-auto p-8">
    <h2 class="text-3xl font-bold mb-4">Register</h2>
    <form method="post" th:action="@{~/api/auth/register}" class="space-y-4" th:object="${myUserAuthDTO}">
        <div>
            <label for="username" class="block">Username:</label>
            <input type="text" id="username" name="username" th:field="${myUserAuthDTO.username}" autofocus required
                   class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none">
        </div>
        <div>
            <label for="firstName" class="block">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:field="${myUserAuthDTO.firstName}" autofocus required
                   class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none">
        </div>
        <div>
            <label for="lastName" class="block">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:field="${myUserAuthDTO.lastName}" autofocus required
                   class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none">
        </div>
        <div>
            <label for="email" class="block">Email:</label>
            <input type="email" id="email" name="email" th:field="${myUserAuthDTO.emailAddress}" autofocus required
                   class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none">
        </div>
        <div>
            <label for="password" class="block">Password:</label>
            <input type="password" id="password" name="password" th:field="${myUserAuthDTO.password}" required
                   class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none">
        </div>
        <div>
            <button type="submit"
                    class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                Register
            </button>
        </div>
    </form>

    <p class="mt-4 text-sm text-gray-600">If you already have an account <a th:href="@{~/api/auth/login}"
                                                                            class="text-blue-500 hover:underline font-semibold">Sign In</a></p>
</div>
</body>

</html>
