<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="bg-gray-100 font-sans">
<div th:replace="~{fragments :: menu}"></div>
<div class="container mx-auto p-8">
    <table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md">
        <thead class="bg-gray-800 text-white">
        <tr>
            <th class="px-4 py-2">Exam Name</th>
            <th class="px-4 py-2">Grade</th>
        </tr>
        </thead>
        <tbody class="text-gray-700">
        <tr th:each="grade : ${grades}">
            <td class="border px-4 py-2" th:text="${grade.exam.name}"></td>
            <td class="border px-4 py-2" th:text="${grade.grade}"></td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{~/api/student/generate-grades}">
        <div class="form-group">
            <input type="hidden" name="username" th:value="${username}" />
            <label for="fileType" class="block text-gray-700">File Type:</label>
            <select id="fileType" name="fileType"
                    class="form-select mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
                <option th:value="null">Select a FileType</option>
                <option value="TXT">TXT</option>
                <option value="PDF">PDF</option>
                <option value="CSV">CSV</option>
            </select>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Generate</button>
    </form>
</div>
</body>
</html>
